* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(rgba(244, 244, 244, 0.9), rgba(244, 244, 244, 0.9)), url("/assets/imgs/fondo.jpg");
  background-size: cover;
  background-position: center;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

html,
#body {
  min-height: 100% !important;
}

html {
  height: 100%;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  max-width: 50%;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #234b75;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

a {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #234b75;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  margin-top: 40px;
  width: 100%;
  text-align: center;
  color: #777;
  font-size: 12px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.nav-link {
  background-color: #234b75;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  width: 100%;
}

.nav-link:hover {
  background-color: #002e60;
}

.regresar-boton {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  color: #234b75;
  text-decoration: none;
}

.regresar-boton:hover {
  text-decoration: underline;
}

.scrollable {
  overflow: auto;
  max-height: 400px !important;
}

.scrollable-tiny {
  overflow: auto;
  max-height: 250px !important;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}

thead {
  background-color: #f2f2f2;
  border-bottom: 2px solid #ddd;
}

thead th {
  padding: 15px;
  text-align: left;
  font-weight: bold;
  color: #333;
}

tbody tr {
  transition: background-color 0.3s ease;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #e9e9e9;
}

tbody tr {
  background-color: #f0f0f0;
}

tbody td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  color: #666;
}

.actions a {
  color: #007bff;
  text-decoration: none;
}

.actions a:hover {
  text-decoration: underline;
}

.form-solicitud {
  background-color: transparent;
  padding: 0;
  box-shadow: none;
  width: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: none;
  gap: 10px;
}

.form-buscar {
  background-color: transparent;
  padding: 0;
  box-shadow: none;
  width: auto;
  display: flex;
  width: 100%;
  max-width: none;
  gap: 10px;
}

.input-buscar {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.submit-buscar {
  height: 100% !important;
  width: auto !important;
}

.submit-buscar:hover {
  background-color: #0056b3;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.emitir-solicitud-tables-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.border-table {
  border: 2px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #234b75; /* Color de fondo principal */
  color: white; /* Color del texto */
  padding: 10px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cursor de mano para indicar que es clicable */
  width: 100%; /* Ancho completo del contenedor */
}

button:hover {
  background-color: #0056b3; /* Color de fondo al pasar el ratón */
}

button.primary {
  background-color: #234b75; /* Color de fondo principal */
}

button.primary:hover {
  background-color: #002e60; /* Color de fondo al pasar el ratón */
}

button.secondary {
  background-color: #f4f4f4; /* Color de fondo para botón secundario */
  color: #234b75; /* Color del texto */
  border: 1px solid #234b75; /* Borde del botón */
}

button.secondary:hover {
  background-color: #e9e9e9; /* Color de fondo al pasar el ratón */
}

button.destroy {
  background-color: #dc3545; /* Color de fondo para botón de eliminar */
}

button.destroy:hover {
  background-color: #c82333; /* Color de fondo al pasar el ratón */
}

button.create {
  background-color: #28a745; /* Color de fondo para botón de crear */
}

button.create:hover {
  background-color: #218838; /* Color de fondo al pasar el ratón */
}

button.link {
  background: none; /* Sin fondo */
  color: #234b75; /* Color del texto */
  border: none; /* Sin borde */
  padding: 0; /* Sin padding */
  text-decoration: underline; /* Subrayado */
}

button.link:hover {
  color: #0056b3; /* Color del texto al pasar el ratón */
  text-decoration: none; /* Sin subrayado al pasar el ratón */
}

.estado {
  font-weight: bold;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}

.estado.pendiente {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.estado.enviado {
  background-color: #fff3cd;
  color: #856404;
  border: 1px solid #ffeeba;
}

.estado.recibido {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.label-button {
  display: inline-block; /* Asegura que se comporta como un botón */
  background-color: #234b75; /* Color de fondo principal */
  color: white; /* Color del texto */
  padding: 10px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cursor de mano para indicar que es clicable */
  text-align: center; /* Alineación del texto */
  text-decoration: none; /* Sin subrayado */
}

.label-button:hover {
  background-color: #0056b3; /* Color de fondo al pasar el ratón */
  text-decoration: none;
}

/* Variantes de la clase para otros estilos de botón */

.label-button.primary {
  background-color: #234b75; /* Color de fondo principal */
}

.label-button.primary:hover {
  background-color: #002e60; /* Color de fondo al pasar el ratón */
}

.label-button.secondary {
  background-color: #f4f4f4; /* Color de fondo para botón secundario */
  color: #234b75; /* Color del texto */
  border: 1px solid #234b75; /* Borde del botón */
}

.label-button.secondary:hover {
  background-color: #e9e9e9; /* Color de fondo al pasar el ratón */
}

.label-button.destroy {
  background-color: #dc3545; /* Color de fondo para botón de eliminar */
}

.label-button.destroy:hover {
  background-color: #c82333; /* Color de fondo al pasar el ratón */
}

.label-button.create {
  background-color: #28a745; /* Color de fondo para botón de crear */
}

.label-button.create:hover {
  background-color: #218838; /* Color de fondo al pasar el ratón */
}

button[disabled] {
  background-color: #ccc; /* Color de fondo para botón deshabilitado */
  color: #666; /* Color del texto */
  cursor: not-allowed; /* Cursor de no permitido */
}

button[disabled]:hover {
  background-color: #ccc; /* Color de fondo al pasar el ratón */
}
